<label>Category:</label>
<p>
  <%= @show_product.category.name %>
</p>
<label>Name:</label>
<p>
  <%= @show_product.name %>
</p>
<label>Description:</label>
<p>
  <%= @show_product.description %>
</p>
<label>Price:</label>
<p>
  <%= @show_product.pricing %>
</p>

<a href="/products/edit/<%= @show_product.id %>">Edit</a> |
<a href="/products/index">Back</a>

<h2>Comment:</h2>
<form action="/products/comment/<%= @show_product.id %>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <textarea name="comment"></textarea>
  <input type="submit" value="Submit" />
</form>

<% if @show_product.comments %>
<% @show_product.comments.each do |comment| %>
<p>
  <%= comment.comment %> - <%= comment.created_at.strftime("%m/%d/%y") %>
</p>
<% end %>
<% end %>
