<h1>Editing <%= @product.name %></h1>

<form action="/products/<%= @product.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <select name="product[category]" id="Category">
    <% @categories.each do |category| %>
      <% if(category.name == @product.category.name) %>
      <option selected="select" value="<%= category.id %>"><%= category.name %></option>
      <% else %>
      <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    <% end %>
  </select>
  <label for="Name">Name:</label>
  <input type="text" name="product[name]" id="Name" value="<%= @product.name %>">
  <label for="Description">Description:</label>
  <input type="text" name="product[description]" id="Description" value="<%= @product.description %>">
  <label for="Pricing">Price:</label>
  <input type="number" name="product[pricing]" id="Pricing" value="<%= @product.pricing %>">
  <input type="submit" value="Update">
</form>